body {
    background-image: url(usedpaper.jpg);
    font-family: "Garamond", "Palatino Linotype", "Book Antiqua", "Times New Roman", serif;
    font-size: 16px;
    line-height: 1.5em;
}

.navbar-brand {
    padding-top: 4px;
}

#sticky {
    width: 100%;
    z-index: 1000;
}

.sticky-navbar {
    width: 100%;
    position: fixed;
    z-index: 1000;
}

.content-wrapper {
    padding-top: 50px;
}

h1, h2, h3, h4, h5, .footer {
    font-weight: normal;
}

h1 {
    font-size: 4em;
    line-height: 1.1em;
}

/* Kleinere Ueberschrift fuer mobile Geraete */
@media (max-width: 480px) {
    h1 {
        font-size: 2.5em;
        word-wrap: break-word;
    }

    .page-header {
        margin: 2% 0;
        padding-bottom: 0;
    }

}

h3 {
    font-size: 1.5em;
    margin-top: 0;
}

.page-header {
    border-bottom: 0px;
}

.thumbnail {
    max-width: 100%;
    height: auto;
    background: white;
    box-shadow: 1px 1px 5px 1px #666666;
    -moz-box-shadow: 1px 1px 5px 1px #666666;
    -webkit-box-shadow: 1px 1px 5px 1px #666666;
}

.caption {
    font-style: italic;
    word-wrap: break-word;
    line-height: 1.3;
    font-size: 14px;
    margin-top: 5px;
}

.today-box .caption {
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.map-img {
    position: absolute;
    z-index: 0;
}

.second-text {
    margin-top: 37px;
}

.second-text-with-image {
    margin-top: 50px;
}

.today-box {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFF;
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 1px 1px 5px 1px #666666;
    -moz-box-shadow: 1px 1px 5px 1px #666666;
    -webkit-box-shadow: 1px 1px 5px 1px #666666;
    margin-bottom: 5%;
    padding: 2.5%;
    width: 95%;
    font-size: 0.9em;
    position: relative;
}

.today-box .thumbnail {
    margin-bottom: 0.2em;
}

.navbar-inverse .navbar-inner {
    font-family: "Garamond", "Palatino Linotype", "Book Antiqua", "Times New Roman", serif;
    background-color: #706145;
    background-image: -moz-linear-gradient(top, #706145, #493e2b);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#706145), to(#493e2b));
    background-image: -webkit-linear-gradient(top, #706145, #493e2b);
    background-image: -o-linear-gradient(top, #706145, #493e2b);
    background-image: linear-gradient(to bottom, #706145, #493e2b);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#706145', endColorstr='#493e2b', GradientType=0);
}

.navbar-inverse .nav-collapse .nav > li > a, .navbar-inverse .nav-collapse .dropdown-menu a {
    color: #FFF;
}

.navbar-inverse .btn-navbar {
    background-color: #706145;
    background-image: -moz-linear-gradient(top, #706145, #493e2b);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#706145), to(#493e2b));
    background-image: -webkit-linear-gradient(top, #706145, #493e2b);
    background-image: -o-linear-gradient(top, #706145, #493e2b);
    background-image: linear-gradient(to bottom, #706145, #493e2b);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
    background-color: #3e3525;
    color: #ffffff;
}

.navbar-inverse .nav-collapse .nav > li > a:hover,
.navbar-inverse .nav-collapse .nav > li > a:focus,
.navbar-inverse .nav-collapse .dropdown-menu a:hover,
.navbar-inverse .nav-collapse .dropdown-menu a:focus {
    background-color: #493e2b;
}

.navbar-inverse .btn-navbar:hover,
.navbar-inverse .btn-navbar:focus,
.navbar-inverse .btn-navbar:active,
.navbar-inverse .btn-navbar.active,
.navbar-inverse .btn-navbar.disabled,
.navbar-inverse .btn-navbar[disabled] {
    color: #ffffff;
    background-color: #493e2b;
    *background-color: #493e2b;
}

.navbar .nav > li {
    line-height: 30px;
}

.navbar .nav > li > a,
.navbar .nav > li > a:hover,
.navbar .nav > li > a:active {
    color: #ffffff;
    text-shadow: 0 1px 0 #433926;
}

.navbar .nav > li > a:hover {
    color: #efefef;
}

.navbar .nav > li > i {
    color: #ffffff;
}

.navbar .brand {
    color: #ffffff;
    text-shadow: 0 1px 0 #433926;
    line-height: 30px;
}

.navbar-image-holder {
    background-image: url(tile_sepia.png);
    height: 50px;
    width: 200px;
}

.intro-left {
    width: 33%;
    padding: 0 5% 0 5%;
}

.intro-center {
    width: 33%;
}

.intro-right {
    width: 33%;
}

.intro-text {
    padding-right: 30px;
}

.intro-main {
    text-align: center;
    margin-bottom: 2em;
    margin-top: 2em;
}

.btn-start {
    margin: 15px;
}

.remembrance-heading {
    color: #1d5fa9;
    text-color: #1d5fa9;
}

.deportation-heading {
    color: #900065;
    text-color: #900065;
}

.history-heading {
    color: #900065;
    text-color: #900065;
}

.footer {
    /*border-top: 1px solid #ceb590;*/
    padding: 3em 0;
    text-align: center;

    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    /*-ms-filter must come before filter*/
    filter: alpha(opacity=50);
    /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
    /*All filters must be placed together*/
}

a {
    color: #706145;
}

a:hover {
    color: #706145;
}

/* -------------- Carousel on Startpage --------------- */

/* Carousel base class */
.carousel .container {
    position: relative;
    z-index: 9;
}

.carousel-inner {
    height: 355px;
}

.carousel {
    margin-top: 20px;
}

.carousel-control {
    height: 55px;
    width: 25px;
    margin-top: 0;
    font-size: 120px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
    background-color: transparent;
    border: 0;
    z-index: 10;
    color: #000;
}

.carousel-control.left {
    left: 5px;
    top: 40%;
    background: none;
}

.carousel-control.right {
    right: 5px;
    top: 40%;
    background: none;
}

.carousel img {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: auto;
    border: 10px solid white;
    max-width: 100%;
    background: white;
    box-shadow: 1px 1px 5px 1px #666666;
    -moz-box-shadow: 1px 1px 5px 1px #666666;
    -webkit-box-shadow: 1px 1px 5px 1px #666666;
}

.carousel .btn {
    margin: 30px 0;
}

.carousel-caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    padding: 0;
    background: none;
    margin-left: -30px;
}

.carousel-caption p {
    color: #333;
}

.carousel-inner > .active {
    left: 10%;
    width: 85%;
}

.carousel-inner > .item {
    width: 85%;
}

@media (max-width: 1200px) {
    .carousel {

    }

    .carousel-caption {
        font-size: 90%;
    }

    .carousel-inner {
        height: auto;
        min-height: 270px;
    }

    .carousel img {
        width: 55%;
    }

    .carousel .btn {
        margin: 15px 0;
        padding: 5px;
    }

    .carousel h1 {
        margin-top: 0;
    }

}

@media (max-width: 767px) {
    .carousel-caption {
        position: relative;
        left: 0;
        font-size: 70%;
        width: 100%;
        text-align: center;
        margin-left: -7px;
    }

    .carousel-inner {
        height: auto;
    }

    .carousel img {
        position: relative;
        left: 0;
        width: 95%;
        margin-left: -3%;
    }

    .carousel .btn {
        margin: 15px 0;
    }

    .carousel h1 {
        margin-top: 15px
    }

    .featurette {
        margin-left: 20px;
    }

    .featurette-image {
        display: none;
    }

    .featurette h2 {
        text-align: center;
    }
}

/* Richtungpfeil am Marker */
.marker-top div {
    background: url(marker-direction.png) no-repeat top left;
    position: absolute;
    top: -3px;
    left: 4px;
    background-position: 0 0;
    width: 7px;
    height: 8px;
}

.marker-top-right div {
    background: url(marker-direction.png) no-repeat top left;
    position: absolute;
    top: 0;
    right: -5px;
    background-position: 0 -28px;
    width: 9px;
    height: 8px;
}

.marker-right div {
    background: url(marker-direction.png) no-repeat top left;
    position: absolute;
    top: 9px;
    right: -9px;
    background-position: 0 -56px;
    width: 8px;
    height: 7px;
}

.marker-bottom-right div {
    background: url(marker-direction.png) no-repeat top left;
    position: absolute;
    bottom: -2px;
    right: -5px;
    background-position: 0 -83px;
    width: 8px;
    height: 8px;
}

.marker-bottom div {
    background: url(marker-direction.png) no-repeat top left;
    position: absolute;
    bottom: -7px;
    right: 5px;
    background-position: 0 -111px;
    width: 7px;
    height: 8px;
}

.marker-bottom-left div {
    background: url(marker-direction.png) no-repeat top left;
    position: absolute;
    bottom: -3px;
    left: -5px;
    background-position: 0 -139px;
    width: 9px;
    height: 8px;
}

.marker-left div {
    background: url(marker-direction.png) no-repeat top left;
    position: absolute;
    top: 10px;
    left: -9px;
    background-position: 0 -167px;
    width: 8px;
    height: 7px;
}

.marker-top-left div {
    background: url(marker-direction.png) no-repeat top left;
    position: absolute;
    top: 0;
    left: -6px;
    background-position: 0 -194px;
    width: 8px;
    height: 8px;
}

